.heart {
  display: flex;
  font-size: 2em;
  position: relative;

  .far {
    opacity: 1;
  }

  .fas {
    position: absolute;
    opacity: 0;
    color: $color-anim-primary;
    transition: opacity 600ms ease-in-out;
  }

  &:hover {
    .fas {
      opacity: 1;
    }
    .far {
      opacity: 0.5;
    }
  }
}
