.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 280px;
  background-color: $background-color-primary;

  .presentation-reservation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
  }

  .presentation-discover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-font-presentation;
  }
}

.working-section {
  height: 440px;
  padding: 50px 25px 0 25px;

  h2 {
    font-size: 1.3em;
    margin-bottom: 30px;
  }
}

.restaurants-section {
  height: 1190px;
  padding: 50px 25px 0 25px;
  background-color: $background-color-primary;
}
