.menu {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  top: -50px;
  width: 100%;
  padding: 30px 15px 80px 15px;
  box-sizing: border-box;
  margin-bottom: -50px;

  @media screen and (min-width: 1024px) {
    position: unset;
    border-radius: 0;
    margin-bottom: 0;
  }

  .menu-section {
    @media screen and (min-width: 1024px) {
      max-width: 1400px;
      margin: 0 auto;
    }

    .title-menu {
      margin-right: 15px;
    }
  }

  h2 {
    margin: 0;
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    color: $color-font-menu;
    font-size: 0.9em;
    font-weight: 500;
    margin: 25px 0 4px 0;
  }

  .color-border {
    border-top: 2px solid $color-anim-tertiary;
    width: 35px;
  }

  section section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
