$background-color-primary: rgb(246, 246, 246);
$background-color-secondary: darken($background-color-primary, 4.78%);
$background-color-dark: darken($background-color-primary, 78.17%);

$color-anim-primary: #9356dc;
$color-anim-secondary: #ff79da;
$color-anim-tertiary: #99e2d0;

$color-font-localisation: #353535;
$color-font-presentation: #414141;
$color-font-tertiary: #99e2d0;

$color-icon: #7e7e7e;
